<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1 class="site-title">SedBR</h1>
    <p class="site-description">
      Este programa serve para plotagem de arquivos de poços
    </p>
    <br />
    <button class="btn-open">
      <a class="rm-link" href="openFile">Abrir arquivo de poço</a>
    </button>

    <button class="btn-show-wells">
      <a class="rm-link" href="get-wells">Lista de Poços carregados</a>
    </button>

    <button class="btn-show-table">
        <a href="show">Conteúdo do poço</a>
    </button>

    <button class="btn-desc">
      <a class="rm-link" href="#">Descrição</a>
    </button>
    <button class="btn-plot">
      <a class="rm-link" href="#">Gráficos</a>
    </button>

    <script src="../static/index.js"></script>
    <script>
      document
        .querySelector(".btn-show-wells")
        .addEventListener("click", function () {
          // Fetch the list of uploaded wells from the server
          fetch("/get-wells")
            .then((response) => response.text())
            .then((data) => {
              // Display the list of wells
              console.log(data);
            });
        });
    </script>
  </body>
</html>
