/* FILEPATH: /C:/Users/Icarl/Documents/GitHub/Pywebview-geof/static/style.css */

/* Reset default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Add your custom styles below this line */
.site-title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.site-description {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #005aab;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #0077cc;
    transform: scale(1.1);
}