/* FILEPATH: /C:/Users/Icarl/Documents/GitHub/Pywebview-geof/static/style.css */

/* Reset default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h1, h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

/* Add your custom styles below this line */
.site-title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.site-description, .page-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.container {
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

/* Remove the dots from the list */
#well-list {
    list-style-type: none;
}

/* Add hover effects to the list items */
.well-item {
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.well-item:hover {
    background-color: #0077cc;
    color: #f6f6f6;
}

.container-upload {
    display: flex;
    justify-content: center;
    border: 1px solid #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

button, .input-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 150px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #005aab;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.well-item-selected {
    background-color: #0077cc;
    color: #f6f6f6;
    font-weight: bold;
}

#add-well {
    width: 150px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #28ab00;
}
#refresh-page {
    width: 150px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #007bab;

}
#return-index {
    width: 150px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #005aab;
}

#remove-well {
    width: 150px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ab0000;
}

#rename-well {
    width: 150px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #9c9c9c;
}

button .rm-link {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #0077cc;
    transform: scale(1.1);
}

.btn-open,
.btn-show-wells,
.btn-desc,
.btn-plot {
    width: 260px;
}